@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base{
  h1{
    @apply text-[35px]
  }
  h2{
    @apply text-[30px]
  }
  h3{
    @apply text-[25px]
  }
  h4{
    @apply text-[20px]
  }
  h5{
    @apply text-[18px]
  }
  p{
    @apply text-[16px]
  }
}


  
  .rightSideNav{
    height: calc(100% - 10px);
    overflow: auto;
  }
  .rightSideNav-scrollableSection{
    height: calc(70% - 10px);
    overflow-y: scroll;
  }
  .centerNav{
    height: calc(100% - 10px);
    overflow: auto;
  }

  ::-webkit-scrollbar {
    display: none;
  }
 
.PhoneInput{
  border: 1px solid black;
  padding : 0.5rem;
  margin: 5px auto;
  border-radius: 0.25rem;
}
.PhoneInput--focus{
  border: 1px solid black;
  outline: none;
}
.PhoneInputInput:focus{
  outline: none;
  border: none;
}